Please ask payment to be sent to: <strong><%= @new_wallet %></strong>.

<%= render "draw_qr", qr: @qr %>

<br/>

Payment will be sent to <strong><%= @wallet_name %>, <%= @wallet_balance.format %>(<%= @wallet %>)</strong>

