<%= link_to "Sell Bitcoin", new_transaction_path %>
<table>
  <% @transactions.each do |tx| %>
    <tr>
      <td>
        B⃦<%= tx.amount %>
      </td>
      <td>
        <%= tx.status %>
      </td>
      <td>
        <% if tx.success? %>
          <%= Money.new(tx.usd_amount*100).format %>
        <% end %>
      </td>
    </tr>
  <%end%>
</table>
