
<div class="row">
  <div class="small-6 column">
    How much do you want to sell?
    <%= simple_form_for @transaction do |f| %>
      <%= f.input :amount, label: "Amount in BTC"%>
      <%= f.submit %>
    <% end %>
  </div>
</div>
